[user]
	email = queenin@gmail.com
	name = Robert Queenin
[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    excludesfile = ~/.config/gitignore
    sshCommand = "ssh -i ~/.ssh/gitlab"
[push]
	default = simple
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    log = log --graph --all --full-history --date-order --date=short --color --abbrev-commit --decorate --pretty=format:\"%x09%C(yellow)%h %C(cyan)%ad %C(red)%an%C(bold green)%d%Creset %s\"
    #merges = log --cherry-pick --date=short --pretty=format:"%ad %h %d %s (%an)" --merges
[credential]
    helper = cache --timeout=86400
[include]
    path = ~/.gitconfig.local
